/* Color Settings */
body {
  background: #e3e5e6; }

.topbar {
  background: #fff;
  -webkit-box-shadow: 0px 10px 92px -24px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 10px 92px -24px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 10px 92px -24px rgba(0, 0, 0, 0.55);
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 1; }
  .topbar .columns {
    padding: 10px; }
  .topbar .logo-holder {
    background: #333b43;
    text-align: center; }

.sidebar-menu-holder {
  padding-top: 60px;
  height: 100% !important;
  position: fixed; }
  .sidebar-menu-holder .sidebar-menu {
    background: #5d6882;
    height: 100% !important; }
    .sidebar-menu-holder .sidebar-menu .user-holder {
      background: #485563;
      background: -moz-linear-gradient(left, #485563 0%, #29323c 100%);
      background: -webkit-linear-gradient(left, #485563 0%, #29323c 100%);
      background: linear-gradient(to right, #485563 0%, #29323c 100%);
      width: 100%;
      padding: 10px; }
      .sidebar-menu-holder .sidebar-menu .user-holder .user-dp {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: #fff; }
      .sidebar-menu-holder .sidebar-menu .user-holder .user-name,
      .sidebar-menu-holder .sidebar-menu .user-holder .user-email {
        margin-top: -12px;
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: -12px; }
      .sidebar-menu-holder .sidebar-menu .user-holder .user-name {
        font-weight: 800;
        font-size: 14px; }
      .sidebar-menu-holder .sidebar-menu .user-holder .user-links {
        padding: 5px;
        border-radius: 5px;
        width: 40px;
        transition: all 0.5s ease; }
        .sidebar-menu-holder .sidebar-menu .user-holder .user-links:hover {
          background: #5d6882;
          color: #333b43 !important; }
    .sidebar-menu-holder .sidebar-menu .menu-container {
      height: 100%;
      overflow-y: scroll;
      padding-bottom: 60px !important; }
      .sidebar-menu-holder .sidebar-menu .menu-container::-webkit-scrollbar {
        width: 5px; }
      .sidebar-menu-holder .sidebar-menu .menu-container::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.3);
        width: 5px; }
      .sidebar-menu-holder .sidebar-menu .menu-container::-webkit-scrollbar-thumb {
        background: #29323c;
        width: 5px; }
      .sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder {
        padding-bottom: 100px; }
        .sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li {
          text-transform: uppercase;
          color: #29333d;
          border-top: 1px solid #29333d;
          border-bottom: 1px solid #29333d;
          margin-top: -1px; }
        .sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-label {
          font: 800 12px 'Open Sans', sans-serif;
          padding: 7px 15px; }
        .sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item {
          font: 800 14px 'Open Sans', sans-serif;
          padding: 10px 15px;
          transition: all 0.5s ease; }
          .sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item i {
            color: #29333d;
            transition: all 0.5s ease; }
          .sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item.active, .sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item:hover {
            background: #29323c;
            color: #a1b7eb; }
            .sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item.active i, .sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item:hover i {
              color: #a1b7eb; }
          .sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item .arrow {
            transition: all 0.5s ease; }
          .sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item .rotate {
            transform: rotate(90deg); }
          .sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item ul.sub-menu {
            background: #1a2026;
            height: auto;
            left: 0;
            top: 0;
            width: calc( 100% + 30px);
            margin-left: -15px;
            padding: 0px 30px; }
            .sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item ul.sub-menu li {
              border: none;
              color: #62739a;
              position: relative;
              padding: 5px 20px;
              font: 600 12px 'Open Sans', sans-serif;
              transition: all 0.5s ease; }
              .sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item ul.sub-menu li:hover {
                color: #a1b6e7; }
                .sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item ul.sub-menu li:hover::after {
                  background: #a1b6e7; }
              .sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item ul.sub-menu li:first-child {
                padding-top: 20px; }
                .sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item ul.sub-menu li:first-child::after {
                  left: 0;
                  top: 70%; }
              .sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item ul.sub-menu li:last-child {
                padding-bottom: 20px; }
                .sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item ul.sub-menu li:last-child::after {
                  left: 0;
                  top: 30%; }
              .sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item ul.sub-menu li::after {
                content: " ";
                width: 10px;
                height: 10px;
                border-radius: 50%;
                left: 0;
                top: 50%;
                margin-top: -5px;
                background: #29323c;
                position: absolute;
                transition: all 0.5s ease; }
              .sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item ul.sub-menu li::before {
                content: ' ';
                border-left: 2px solid #29323c;
                height: 100%;
                position: absolute;
                left: 4px;
                top: 0; }
  .sidebar-menu-holder hr {
    background: #29333d;
    border: none;
    height: 1px;
    width: 100%;
    margin: 0; }

/* Table */
table {
  border: none; }
  table tr {
    border: none; }
    table tr td {
      vertical-align: middle;
      border: none; }

i {
  color: #fff; }

.notify {
  padding: 3px 5px;
  border-radius: 50%;
  background: #9f1d1d;
  font-size: 9px;
  color: #fff; }
