@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,800,700);

body {
    background-image: url('../img/main-bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: scroll;
    background-color: #1a1a1a;
    font: 400 14px 'Open Sans', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.rankings-tbl {
    width: 100%;
    margin-top: 30px;
    tr {
        td,th {
            padding: 5px 10px;
            text-align:center;
            vertical-align:middle;
        }
    }
}

nav {
    background-image: url('../img/navigation-bg.png');
    background-repeat: no-repeat;
    background-position: top center;
    padding: 15px;
    width: 100%;

    ul.main-menu {
        display: inline;
        list-style: none;
        padding: 0;
        margin: 0;

        li.main-menu-item {
            display: inline;
            font: 800 14px 'Open Sans', sans-serif;
            text-transform: uppercase;
            padding: 5px 10px;
            margin: 0 10px;
            color: #943701;
            transition: all 0.5s ease;

            &.active,
            &:hover {
                border-bottom: 1px solid #a53300;
                color: #511e00;
            }
        }
    }
}

.logo {
    margin: 50px 0px 120px 0px ;
}

// Fix Width
.image-slider {
    padding: 5px;
    background: url('../img/slider-bg.jpg');
    position: relative;
    height: 275px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    overflow: hidden;

    ul {
        display: inline;
        list-style: none;

        li {
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            top: 0;
            left: 0;
            width: calc(100% - 15px);
            height: 76%;
            display: none;
            margin: 8px;
            text-align: center;
            padding-top: 50px;

            &:first-child {
                display: block;
            }
        }
    }
}

.bullet-holder {
    width: 100%;

    .slider-bullet {
        margin-top: 400px;
        position: relative;

        li.slider-bullet-item {
            display: inline-block;
            float: left;
            margin: 244px 2px 0 2px;
            padding: 4px;
            list-style: none;
            max-height: 10px !important;
            max-width: 2px !important;
            border-radius: 50%;
            background: transparent;
            border: 2px solid #ff5d00;
            position: relative;
            content: " ";
            left: calc(50% - 50px);
            cursor: pointer;

            &.active {
                background: #ff5d00;
            }
        }
    }
}


.panel-container {
    color: #fff;
    margin-bottom: 50px;

    .panel-header {
        background: rgb(255,94,0); /* Old browsers */
        background: url('../img/noise-texture.png'), -moz-linear-gradient(top,  rgba(255,94,0,1) 0%, rgba(169,62,0,1) 100%); /* FF3.6-15 */
        background: url('../img/noise-texture.png'), -webkit-linear-gradient(top,  rgba(255,94,0,1) 0%,rgba(169,62,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: url('../img/noise-texture.png'), linear-gradient(to bottom,  rgba(255,94,0,1) 0%,rgba(169,62,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        padding: 10px;
        width: calc(100% - 20px);
        background-size: cover;

        h1 {
            font: 800 14px 'Open Sans', sans-serif;
            color: #171717;
            margin: 0;
            text-transform: uppercase;
        }
    }

    .panel-content {
        position: relative;
        background: #131a20;
        width: calc(100% - 20px);
        padding: 20px 10px  ;
        border-bottom: 2px solid rgb(255,94,0);
    }
}

.option {
    color: rgb(255,94,0);
    font: 800 14px 'Open Sans', sans-serif;
    text-transform: uppercase;
    transition: all 0.5s ease;

    &:hover {
        text-decoration: underline;
        color: #ab3d00;
    }

    &.separate {
        color: #29455c;
    }
}

.tab-holder {
    position: relative;

    .tab-pane {
        height: auto;
        display: none;

        &[data-active="true"] {
            display: block;
        }
    }
}

.news-holder {
    width: 100%;
    margin-top: 20px;

    td {
        padding: 5px;
    }

    td.news-type {
        width: 20%;
        text-align: center;
    }

    td.news-name {
        width: 50% !important;
    }

    td.news-date,
    td.news-user {
        width: 15% !important;
    }
}

.rank-container {
    margin-bottom: 20px;

    .rank-item {
        .ranking-thumb {
            border-radius: 50%;
        }

        .ranking-name {
            font: 700 14px 'Open Sans', sans-serif;
        }
    }
}

.shop-listing {
    .col_3 {
        width: 180px;
        height: 300px;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        word-break: break-all;

        img {
            width: 100%;
        }

        .item-name {
            font: 700 14px 'Open Sans', sans-serif;
        }

        button {
            background-image: url('../img/lgn-bg.jpg') !important;
            background-repeat: no-repeat;
            background-size: cover;
            font: 800 14px 'Open Sans', sans-serif;
            text-transform: uppercase;
            color: #0d1115;
            transition: all 0.5s ease;
            border: none;
            border-radius: 5px;

            &:hover {
                color: #fff;
            }
        }
    }
}

.label {
    font: 400 10px 'Open Sans', sans-serif;
    padding: 2px 5px;
    border: 1px solid #0d1115;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.6);
    text-transform: uppercase;

    &.bolder {
        font: 700 10px 'Open Sans', sans-serif;
    }

    &.orange {
        background: #ff5e00;
    }

    &.red {
        background: #811010;
    }

    &.blue {
        background: #254d89;
    }

    &.green {
        background: #1ec131;
    }

    &.yellow {
        background: #b49d1b;
    }
}

/*
    Inputs and Forms
*/

    form {
        .form-panel {
            .form-panel-head {
                h1 {
                    font: 800 14px 'Open Sans', sans-serif;
                    text-transform: uppercase;
                }
            }
        }
    }

    .form-group {
        width: 100%;
        padding: 0 20px;

        label {
            width: 100%;
            color: #5f798f;
            font: 400 12px 'Open Sans', sans-serif;
            text-transform: uppercase;
            display: block;
            margin-bottom: 5px;
        }

        [class^="col_"] {
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        .col_1 {
            width: calc(100% / 4 - 20px);
        }

        .col_2 {
            width: calc(100% / 2 - 20px);
        }

        .col_3 {
            width: calc(100% / 4 * 3 - 20px);
        }

        .col_4 {
            width: calc(100%  - 20px);
        }
    }

    input, select {
        background-color: #17212a;
        padding: 10px 20px;
        font: 600 12px 'Open Sans', sans-serif;
        border: 1px solid #0d1115;
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.6);
        margin-bottom: 5px;
        color: #fff;
        outline: none;
        transition: all 0.5s ease;



        &.full {
            width: calc(100% - 60px);
        }

        &:focus {
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.0);
        }

        &[type="submit"] {
            background-image: url('../img/lgn-bg.jpg') !important;
            background-repeat: no-repeat;
            background-size: cover;
            font: 800 14px 'Open Sans', sans-serif;
            text-transform: uppercase;
            color: #0d1115;
            transition: all 0.5s ease;

            &:hover {
                color: #fff;
            }
        }
    }

    select[class="full"] {
        width: calc(100% - 20px) !important;
    }

/* Special Sizes of Inputs */
.login-form {
    margin-left: 5px;
    .login-field {
        width: calc(100% - 28px);
    }

    input[type="submit"] {
        background-image: url('../img/lgn-bg.jpg') !important;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 31px 20px;
        font: 800 14px 'Open Sans', sans-serif;
        text-transform: uppercase;
        color: #0d1115;
        transition: all 0.5s ease;

        &:hover {
            color: #fff;
        }
    }
}

ul.User-Menu {
    li {
        list-style: none;
    }
}


/* Footer */

footer {
    background: url('../img/slider-bg.jpg');
    background-size: cover;
    padding: 10px;
    margin-bottom: 30px;
    font: 700 14px 'Open Sans', sans-serif;
    color: #fff;
}
